.main{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #d7d7d7;
    border-bottom: 0px;
    margin-top: 20px;
    font-family: sans-serif;
}

h1{
    text-align: center;
    background-color: rosybrown;
    padding: 10px 0px;
    margin-top: 0px;
    color: wheat;
}

.addItem{
    position: relative;
    padding-bottom: 0px;
    height: 30px;
}

.addText{
    width: 75%;
    height: 20px;
    padding: 2px;
    font-size: 15px;
}

.addItem button{
    position: relative;
    float: right;
    margin-right: 10px;
    height: 25px;
    width: 50px;
    padding: 2px;
}

ul{
    list-style: none;
    font-size: 15px;
    color: green;
    margin-left: -40px;
    margin-bottom: 0px;
}

li{
    border-bottom: 1px solid #bbffbb;
    background-color: lightcoral;
    padding: 10px 0px;
    margin-bottom: 2px; 
}

.removeItem button{
    
    position: relative;
    float: right;
    margin-right: 10px;
    height: 25px;
    width: 50px;
    padding: 2px;
 }
 input[type=checkbox] {
  position: relative;
  float:left;
  bottom: 1px;
}


